body {
    font-family: sans-serif;
    /* background-color: #121212; */
    background-image: url(https://i.redd.it/q2vy972avcy01.jpg);
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    gap: 2rem; /* espaço entre container e reviews */
}

.degrade{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, rgba(85, 85, 85, 0.336));
}

.container {
    background-color: #aa966d;
    border: solid 5px #dac190;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 500px;
    width: 90%;
}

h1 {
    color: #fdf5e6;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.rating-stars {
    font-size: 3rem;
    cursor: pointer;
    margin: 1.5rem 0;
}

.star {
    color: #6a6a6a;
    transition: color 0.2s;
}

.star.active {
    color: #ffd700;
}

/* Estilo para o hover */
.star:hover {
    color: #ffc107; /* Cor ligeiramente mais clara no hover */
    text-shadow: 0 0 8px rgba(255, 215, 0, 0.6); /* Efeito de blur dourado */
    transform: scale(1.1); /* Um leve aumento para destacar */
}

/* Estilo para o hover, mas apenas nas estrelas "ativas" */
.star.active:hover {
    text-shadow: 0 0 12px rgba(255, 215, 0, 0.8); /* Blur mais intenso para estrelas ativas no hover */
    transform: scale(1.15);
}

textarea {
    width: 90%;
    height: 100px;
    margin: 1rem 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #e4c07a;
    background-color: #dac190;
    color: #fff;
    resize: none;
    text-shadow: 0px 0px 4px black;
}

textarea::placeholder {
    color: white;
    text-shadow: 0px 0px 4px black;
}

textarea:focus{
    outline: none;
    border-color: #e6b759;
    box-shadow: 0 0 5px #e6b759;

}

#submit-btn {
    padding: 10px 20px;
    border: none;
    background-color: #e6b759;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-btn:hover:not(:disabled) {
    background-color: #d49f34;
}

#submit-btn:disabled {
    background-color: #555;
    cursor: not-allowed;
}

#message {
    margin-top: 1rem;
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px red;
    padding: 10px ;
}

/* caixa das reviews */
#reviews-container {
    background-color: #aa966d;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

#reviews-container h2 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#reviews-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#reviews-list li {
    background: #dac190;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    line-height: 1.3;
}

#reviews-list li .stars {
    color: #ffd700;
    margin-bottom: 5px;
    display: block;
    font-size: 1rem;
}
